<%- include('../partials/header.ejs') -%>

<h3>&nbsp&nbsp&nbsp&nbspClass Details</h3>
<table>
  <tr class="tableHead">
    <th>Date & Time:</th>
    <th>Title</th>
    <th>Price</th>
    <th>Instructor</th>
    <th>Description</th>
    <th>Class Size</th>
    <th>&nbsp;</th>
  </tr>
  
  <tr class="tableBody"></tr> 
    <th><%= class1.dateTime %></th>
    <th><%= class1.title %></th>
    <th>&nbsp;&nbsp;<%= class1.price %></th>
    <th><%= class1.instructor %></th>
    <th><%= class1.description %></th>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= class1.classSize %></th>
    <% if (user && user.position === 'admin'){ %>
    <th><form action="/classes/<%= class1._id %>?_method=DELETE" method="POST">
        <button type="delete">Delete</button></form></th>
   

  </tr>

</table> 

<div class="container">
  <div class="center">
    <form action="/classes/<%= class1._id %>/add" method="POST">
      <button type="submit" style="margin:10px; width:100px; text-justify: center;" class="addButton" id="submit">
        Sign Up!</button>
    </form>
  </div>
</div>

<% } %>

<%- include('../partials/footer.ejs') -%>